<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{% block title %}Travel Planner{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/static/css/base.css') }}"
    />
  </head>
  <body>
    <!-- NAVBAR -->
    <nav>
      <h1>Travel Planner</h1>
      <ul>
        <li><a>Home</a></li>
        <li><a>Create Trip</a></li>
        <li><a>Dashboards</a></li>
        <li><a></a></li>
      </ul>
    </nav>

    <!-- MAIN CONTENT -->

    <main>{% block content %}{% endblock %}</main>

    <!-- FOOTER -->

    <footer>
      <p>&copy; 2024 Travel Planner</p>
    </footer>
  </body>
</html>
